* {
  padding: 0px;
  margin: 0px;
  /*outline: 2px dotted red;*/
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  overflow: hidden;
  background-color: #245076;
  width: 970px;
  min-height: 600px;
  margin: 20px auto;
}

/******BEGIN THE HEADER*******/

#container .header img {
  width: 370px;
  min-height: 80px;
  margin: 8px 0px 0px 25px;
}

#container .header {
  padding: 6px 0px;
}

#container .header span {
  display: inline-block;
  vertical-align: top;
  margin-left: 340px;
  margin-top: 3px;
  font-size: 13px;
}

#container .header span p {
  display: inline-block;
  color: white;
}

#container .header span ul {
  display: inline-block;
}

#container .header span ul li {
  display: inline-block;
  color: black;
}

#container .header span li a {
  color: #c3a907;
}

#container .header .search {
  width: 285px;
  min-height: 62px;
  background-color: #444444;
  display: inline-block;
  border-radius: 12px;
  vertical-align: top;
  margin: -95px 0px 0px 658px;
  box-shadow: 2px 2px black;
}

#container .header .search input {
  display: inline-block;
  text-align: center;
  padding: 8px;
  margin: 13px 0px 0px 27px;
  width: 175px;
}

#container .header .search button {
  padding: 4px;
  width: 40px;
  margin-left: 4px;
  border-radius: 5px;
  color: white;
  background-color: #245076;
  border: 2px solid #a5adb3;
}

/*******END THE HEADER******/

/*******BEGIN THE NAVBAR******/

#container .navBar {
  display: inline-block;
  background-color: #447dad;
  margin-left: 90px;
  padding: 10px 50px;
  border-radius: 5px;
  margin-top: -13px;
  box-shadow: 2px 2px black;
}

#container .navBar ul {
  display: inline-block;
}

#container .navBar ul li {
  display: inline-block;
  margin: 0px 15px;
}

#container .navBar ul li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
}

/*******END THE NAVBAR******/

/*******BEGIN THE SITEBAR******/

#container .siteBar {
  width: 300px;
  display: inline-block;
}

#container .siteBar ul {
  margin-left: 137px;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  color: #c3a907;
  list-style: none;
}

#container .siteBar ul li {
  margin-top: 8px;
}

#container .siteBar ul li a {
  color: white;
  font-size: 14px;
  margin-left: 2px;
}

#container .siteBar ul li i {
  font-size: 6px;
  vertical-align: middle;
}

/*******END THE SITEBAR******/

/*******BEGIN THE MAIN CONTENT******/

#container .mainContent {
  display: inline-block;
  width: 597px;
  margin-left: 315px;
  margin-top: -197px;
  vertical-align: top;
}

#container .mainContent p {
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 12px;
}

#container .mainContent ul {
  list-style: none;
  text-align: center;
}

#container .mainContent ul li {
  margin-top: 12px;
  color: #c3a907;
  font-style: italic;
}

#container .mainContent ul li:last-child {
  color: white;
  font-style: normal;
  margin-bottom: 30px;
}

/*******END THE MAIN CONTENT******/

/*******BEGIN THE INFO CONTENT******/

#container .information {
  height: 275px;
  background-color: white;
  padding-left: 40px;
}

#container .information #GS {
  margin-right: -16px;
}

#container .information .colum {
  display: inline-block;
  width: 410px;
  text-align: center;
  margin-left: 34px;
  margin-top: 12px;
  vertical-align: top;
  border-top: 7px solid #73a7d5;
}

#container .information .colum h4 {
  display: inline-block;
  margin-left: -42px;
  margin-top: 3px;
}

#container .information .colum p {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 15px;
  width: 340px;
}

#container .information #GS p {
  width: 343px;
  margin-left: 15px;
}

#container .information .colum ul {
  width: 270px;
  margin-left: 67px;
}

#container .information .colum ul li {
  margin-top: 5px;
  list-style: square;
}

#container .information a {
  text-decoration: none;
  color: #89bfee;
  font-size: 14px;
}

/*******END THE INFO CONTENT******/

/*******BEGIN THE FOOTER******/

#container .Footer {
  height: 130px;
  background: linear-gradient(180deg, #26557d, #3270a6);
  text-align: center;
}

#container .Footer ul {
  display: inline-block;
  list-style: none;
  margin-right: 40px;
}

#container .Footer ul li {
  display: inline-block;
  margin: 60px 0px 0px 50px;
}

#container .Footer ul li a {
  text-decoration: none;
  color: #89bfee;
  font-size: 20px;
}

#container .Footer p {
  margin-top: 15px;
  color: #89bfee;
  font-size: 15px;
}

/*******END THE FOOTER******/


