*{
  padding: 0;
  margin: 0;
  /*outline: 1px solid red;*/
}

#container{
  background-color: #eee;
  width: 85%;
  min-height: 800px;
  margin: 0 auto;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

/*******NUMBERS*******/

#container h3{
  display: inline-block;
  vertical-align: top;
  color: #fa5b4b;
  font-size: 100%;
  margin: 10px 0 0 15px;
  width: 58px;
}

#container ul{
  color: #fa5b4b;
  font-size: 100%;
  font-weight: bold;
  list-style: none;
  display: inline-block;
}

#container .n-horizontal {
  vertical-align: top;
  margin-top: 10px;
}

#container .n-horizontal li{
  display: inline-block;
  margin-left: 47.6px;
}

#container .n-horizontal li:first-child{margin-left: 20px;}
  

#container .n-vertical{
  float: left;
  margin-left: 31px;
  margin-top: -430px;
}

#container .n-vertical li{ margin-bottom: 43px;}
 
/*******ELEMENTS*******/

#container .element{
  text-align: center;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 4px;
  margin-left: 0px;
}

#container .element:not(.uno,.dos,.tres,.cuatro,.cinco){
  outline: 1px solid black;
}

#container .element p{
  font-size: 12px;
  color: black;
}

#container .element h1{
  font-size: 20px;
  margin: 4px 0;
}
/*******BLUES******/

#blues{
  width: 125px;
  min-height: 420px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 0 0 75px;
}

#blues .blue:not(.dos){
  background-color: #689bff;
  vertical-align: top;
}

#blues .blue h1{color: #1a13a8;}
  
/*******REDS*******/
#reds{
  width: 641px;
  min-height: 237px;
  display: inline-block;
  vertical-align: top;
  margin: 217px 0 0 15px;
}

#reds .red{
  background-color:#fd9a98;
  vertical-align: top;
}

#reds .red h1{color:#6a16a1;}
  
/*******YELLOWS*******/

#yellows{
  width: 383px;
  display: inline-block;
  vertical-align: top;
  margin: 21px 0 0 -1px;
}

#yellows .yellow:not(.uno,.dos,.tres,.cuatro,.cinco){
  background-color:#fecb00;
  vertical-align: top;
}

#yellows .yellow h1{color: #333c7e;}
  
/*******GREENS*******/
#greens{
  width: 898px;
  min-height: 125px;
  display: inline-block;
  margin: 30px 0 0 220px;
}

#greens .green
{
  background-color:#1fca21;
  vertical-align: top;
}

#greens .green h1{color: #1913a1;}
  
/********CLASES********/
#container .clases{
  display: inline-block;
  vertical-align: top;
  width: 190px;
  margin: -110px 40px 0px 30px;
}

#container .clases li{
  display: inline-block;
  margin-left: 38px;
  margin-bottom: 50px;
}

#container .clases li:nth-child(4){margin-left: 48px;}







